.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-style: solid;
    border-color: black;
    padding: 5px;
    height: 700px;
    width: 700px;
}

.tile { 
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

/*.tile.drawn {
    background-color: grey;
} */

button {
    margin: 10px;
    padding: 3px;
}